@import "../../bower_components/swiper/dist/css/swiper.min.css";

/** SLIDE *
.swiper-container {
    width: 100%;
    height: 300px;
    text-align: center;
}   
**/

    .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-top {
        min-height: 500px;
        width: 100%;
    }
    .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }

    /** Team Mobile **/
    .team-car {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .team-car .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }

    